@import url("http://fonts.googleapis.com/css?family=Antic+Slab");
@import "bourbon";
@import "neat";

$navy: #101417;
$light-green: #D2D6A6;
$white: #FFFFFF;

@mixin vertical-align {
  position: relative;
  top: 50%;
  @include transform(translateY(-55%));
}
