@import "vars";

#home-page {
  height: 100%;
  width: 100%;
  background: image-url('postcard-placeholder.jpg') no-repeat;
  background-size: cover;

  .home-page-logo {
    @include vertical-align();
    color: white;
  }
}
