@import "vars";

a {
  color: white;
  text-decoration: none;
}

#container {
  text-align: center;
  font-size: 36px;
}

#app {
  width: 100%;
}

.navigation-button {
  z-index: 999;
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 30px;
  &.navigation-close { color: $navy; }
}

#main-navigation, #main-content, #home-page {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

#main-navigation {
  opacity: 0;
  @include transition(opacity 0.5s ease-in);
  &.active { opacity: 1; }
}

#main-content {
  opacity: 0;
  @include transition(opacity 0.5s ease-out);
  &.active { opacity: 1; }
}

#home-page {
  top: 0;
  @include transition(top 1s ease-out);
  &.sub-content-active { top: -100%; }
}

.logo {
  margin: 0 auto;
  @include vertical-align();
  background: image-url('logo_white.svg') no-repeat center center;
  background-size: contain;
  &.large { height: 50%; width: 75%; }
}

.sky {
  width: 100%;
  height: 100%;
  // @include background-image(linear-gradient(#101417, #080B10, #091219, #060F2C, #071437, #0E2F52));
  @include background-image(radial-gradient(circle at 50% 100%, #0E2F52, #071437, #060F2C, #091219, #080B10, #101417));
  background-size: cover;
}

.land {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  @include background-image(linear-gradient(#374B19, #56682C, #869A48, #9FB457));
  // @include background-image(radial-gradient(circle at 50% 300%, #9FB457, #56682C, #374B19));
}
