@import "vars";

body {
  font-family: 'Antic Slab', serif;
}

#new-app {
  width: 100%;

  #desktop-nav {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem 0;

    background: $navy;
  }

  .desktop-nav-item {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 1.5rem;

    color: white;
    &:hover { color: white; }
  }

  .logo-section {
    width: 100%;
    height: 80vh;
    background: $navy;
  }

  .home-logo-image {
    background: linear-gradient(rgba(16,20,23,1),rgba(16,20,23,0.6)), image-url('mountains.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: contain, cover;
  }

  .wedding-logo-image {
    background: linear-gradient(rgba(16,20,23,0.9),rgba(16,20,23,0.7)), image-url('redwoods.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: contain, cover;
  }

  .logo-image {
    margin: 0 auto;
    @include vertical-align();
    &.large-logo { width: 80vw; height: 50vh; }
    &.main-logo { background: image-url('logo_white.svg') no-repeat center center; background-size: contain; }
    &.wedding-logo { background: image-url('logo_white.svg') no-repeat center center; background-size: contain; }
    &.reception-logo { background: image-url('reception-logo-white.png') no-repeat center center; background-size: contain; }
  }

  .header-section {
    padding: 4rem 0 2rem 0;
    margin: 0 auto;
    text-align: center;
  }

  .header-image {
    height: 6rem;
    width: auto;
    &.our-journey-header { background: image-url('our-story-blue.png') no-repeat center center; background-size: contain; }
    &.wedding-header { background: image-url('wedding-blue.png') no-repeat center center; background-size: contain; }
    &.reception-header { background: image-url('reception-blue.png') no-repeat center center; background-size: contain; }
    &.photos-header { background: image-url('lindseyanddevin-white.png') no-repeat center center; background-size: contain; }
    &.registry-header { background: image-url('registry-blue.png') no-repeat center center; background-size: contain; }
  }

  .map-container {
    @include row();
  }

  .map-legend {
    margin: 0 auto;
  }

  .map-image {
    height: 100vh;
    margin: 0 auto;
  }

  .map-image-container {
    height: 80%;
    width: auto;
    background: image-url('map-blue.png') no-repeat center center;
    background-size: contain;
  }

  .text-section {
    padding: 2rem;
    margin: 0 auto;
    width: 50%;
    font-size: 1.2rem;
    line-height: 1.75;
    text-align: left;
  }

  .location-section {
    @include row();
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
  }

  .location-container {
    @include span-columns(6);
  }

  .location-image-container {
    height: 60vh;
    width: 60vh;
    max-height: 80vw;
    max-width: 80vw;
    border-radius: 50%;
    margin: 0 auto;
    &.ceremony-site { background: image-url('ceremony-site.jpg') no-repeat center center; background-size: cover; }
    &.reception-site { background: image-url('reception-site.jpg') no-repeat center center; background-size: cover; }
  }

  .location-text-section {
    margin: 2rem auto;
    font-size: 1rem;
    line-height: 1.75;
    text-align: center;
  }

  .location-text-header {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .wedding-details-section {
    background: $light-green;
    padding: 4rem 0;
  }

  #reception-section {
    padding-bottom: 6rem;
  }

  #registry-section {
    background: $light-green;
    padding-bottom: 6rem;
  }

  .registry-container {
    height: 4rem;
    width: auto;
    background: image-url('sur-la-table-logo.png') no-repeat center center;
    background-size: contain;
  }

  #photos-section { background: $navy; padding-bottom: 6rem; }
  .main-container { width: 80vw; margin: 0 auto; }
  .row { @include row(); }
  .large-column-40 { float: left; width: 40vw; }
  .large-column-13 { float: left; width: calc((1/3)*40vw); }

  .large-box-27 { float: left; width: calc((2/3)*40vw); height: calc((2/3)*40vw); }
  .large-box-20 { float: left; width: 20vw; height: 20vw; }
  .large-box-13 { float: left; width: calc((1/3)*40vw); height: calc((1/3)*40vw); }

  .photo-box { background: white; border: 10px solid $navy; }

  @media (max-width: 960px) {
    .location-container { @include span-columns(12); }
    .text-section { width: 100%; }
    .small-column-80 { width: 80vw; }
    .small-column-27 { float: left; width: calc((1/3)*80vw); }

    .small-box-53 { float: left; width: calc((2/3)*80vw); height: calc((2/3)*80vw); }
    .small-box-40 { float: left; width: 40vw; height: 40vw; }
    .small-box-27 { float: left; width: calc((1/3)*80vw); height: calc((1/3)*80vw); }
  }

}
