@import "vars";

body {
  font-family: 'Antic Slab', serif;
}

#new-app {
  width: 100%;

  #desktop-nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem 0;
    background: $navy;
  }

  .desktop-nav-item {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 1.5rem;
    color: white;
    &:hover { color: white; }
  }

  #mobile-nav {
    z-index: 999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem 0;
    background: $navy;
  }

  .mobile-nav-menu {
    text-transform: uppercase;
    color: white;
    &:hover { color: white; }
  }

  .mobile-nav-item {
    display: block;
    padding: 0.7rem;
    text-transform: uppercase;
    color: white;
    &:hover { color: white; }
    &:first-child { padding-top: 1.4rem; }
  }

  .logo-section {
    width: 100%;
    height: 80vh;
    background: $navy;
  }

  .home-logo-image {
    background: linear-gradient(rgba(16,20,23,1),rgba(16,20,23,0.6)), image-url('mountains.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: contain, cover;
  }

  .wedding-logo-image {
    background: linear-gradient(rgba(16,20,23,1),rgba(16,20,23,0.6)), image-url('redwoods.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: contain, cover;
  }

  .reception-logo-image {
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: contain, cover;
  }

  .logo-image {
    margin: 0 auto;
    @include vertical-align();
    &.large-logo { width: 80vw; height: 50vh; }
    &.main-logo { background: image-url('names-white.png') no-repeat center center; background-size: contain; }
    &.wedding-logo { background: image-url('logo_white.svg') no-repeat center center; background-size: contain; }
    &.reception-logo { background: image-url('reception-logo-white.png') no-repeat center center; background-size: contain; }
  }

  .header-section {
    padding: 4rem 2rem 2rem 2rem;
    margin: 0 auto;
    text-align: center;
  }

  .header-image {
    height: 6rem;
    width: auto;
    &.our-journey-header { background: image-url('our-journey.png') no-repeat center center; background-size: contain; }
    &.wedding-header { background: image-url('wedding-blue.png') no-repeat center center; background-size: contain; }
    &.reception-header { background: image-url('wrentham-celebration.png') no-repeat center center; background-size: contain; }
    &.photos-header { background: image-url('lindseyanddevin-white.png') no-repeat center center; background-size: contain; }
    &.registry-header { background: image-url('registry-blue.png') no-repeat center center; background-size: contain; }
  }

  .subheader-section {
    padding: 2rem 2rem 0rem 2rem;
    margin: 0 auto;
    text-align: center;
  }

  .subheader-image {
    height: 4rem;
    width: auto;
    &.ceremony-details-header { background: image-url('ceremony-details.png') no-repeat center center; background-size: contain; }
    &.forest-formal-header { background: image-url('forest-formal.png') no-repeat center center; background-size: contain; }
  }

  .map-container {
    @include row();
  }

  .map-legend {
    margin: 0 auto;
  }

  .map-image {
    height: 100vh;
    margin: 0 auto;
  }

  .map-image-container {
    height: 80%;
    width: auto;
    background: image-url('map-blue.png') no-repeat center center;
    background-size: contain;
  }

  .text-section {
    padding: 2rem;
    margin: 0 auto;
    width: 50%;
    font-size: 1.2rem;
    line-height: 1.75;
    text-align: left;
  }

  .location-section {
    @include row();
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
  }

  .location-container {
    @include span-columns(6);
  }

  .location-image-container {
    height: 60vh;
    width: 60vh;
    max-height: 40vw;
    max-width: 40vw;
    border-radius: 50%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &.reception-site { background-image: image-url('reception-site.jpg'); }
  }

  .location-text-section {
    margin: 2rem auto;
    font-size: 1rem;
    line-height: 1.75;
    text-align: center;
  }

  .location-text-header {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .wedding-details-section {
    background: $light-green;
    padding: 4rem 0;
  }

  #reception-section {
    padding-bottom: 2rem;
  }

  .registry-custom {
    padding-bottom: 6rem;
  }

  .registry-address-section {
    padding: 4rem 0 2rem 0;
    background: $navy;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
  }

  .registry-address, .registry-address-note {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .registry-address-note {
    margin-top: 2rem;
  }

  .registry-sur-la-table {
    background: $light-green;
    padding: 4rem 0 6rem 0;
  }

  .registry-sur-la-table-text {
    font-size: 1.2rem;
    padding: 0 2rem 2rem 2rem;
    line-height: 1.75;
  }

  .registry-container {
    display: block;
    height: 4rem;
    width: auto;
    background: image-url('sur-la-table-logo.png') no-repeat center center;
    background-size: contain;
  }

  .registry-items {
    @include row();
    width: 80vw;
    margin: 0 auto;
  }

  .registry-item {
    position: relative;
    display: block;
    background: white;
    margin: 1rem;
    padding: 1rem;
    float: left;
    width: calc(20vw - 2rem);
    box-shadow: 1px 1px 4px $grey80;
    &.fulfilled {
      opacity: 0.5;
      box-shadow: 1px 1px 4px $grey90;
      .registry-item-name { text-decoration: line-through; }
    }
  }

  .registry-item-card {
    width: 100%;
  }

  .registry-item-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: calc(20vw - 4rem);
    height: calc(20vw - 4rem);
  }

  .registry-item-info {
    @include row();
    padding-top: 1rem;
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .registry-item-details { @include row(); }
  .registry-item-retailer { @include span-columns(8); color: $light-green; }
  .registry-item-price { @include span-columns(4); text-align: right; color: $light-green; }

  .registry-item-description {
    display: none;
    padding-top: 1rem;
  }

  .registry-item-fulfillment-container {
    display: none;
    text-align: center;
    padding: 2rem 0 1rem 0;
  }

  .registry-item-fulfillment {
    display: inline-block;
    padding: 1rem 2rem;
    background: darken($light-green, 10);
    color: white;
    text-align: center;
    &:hover { background: $light-green; }
  }

  .registry-item-confirm-fulfillment {
    text-align: left;
  }

  .purchaser-name-input {
    display: block;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    border: 1px solid $grey90;
    border-radius: 0.5rem;
    width: 80%;
    margin: 1rem auto;
    font-family: 'Antic Slab', serif;
  }

  .purchaser-name-btn-container {
    text-align: center;
  }

  .purchaser-name-btn {
    font-family: 'Antic Slab', serif;
    background: $grey90;
    color: $navy;
    padding: 0.5rem 1rem;
    box-shadow: none;
    border: none;
    &:first-child { margin-right: 1rem; }
    &.submit-btn { background: darken($light-green, 10); color: white; }
  }

  .registry-item-modal {
    z-index: 99;
    position: absolute;
    background: white;
    top: -7vw;
    left: -3.5vw;
    width: 25vw;
    padding: 2rem;
    box-shadow: 4px 4px 16px $medium-grey;

    .registry-item-image {
      width: calc(25vw - 4rem);
      height: calc(25vw - 4rem);
    }
    .registry-item-description, .registry-item-fulfillment-container { display: block; }
  }

  #photos-section { background: $navy; padding-bottom: 6rem; }
  .main-container { width: 80vw; margin: 0 auto; }
  .row { @include row(); }
  .large-column-40 { float: left; width: 40vw; }
  .large-column-13 { float: left; width: calc((1/3)*40vw); }

  .large-box-27 { float: left; width: calc((2/3)*40vw); height: calc((2/3)*40vw); }
  .large-box-20 { float: left; width: 20vw; height: 20vw; }
  .large-box-13 { float: left; width: calc((1/3)*40vw); height: calc((1/3)*40vw); }

  .photo-box {
    border: 10px solid $navy;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  @media (max-width: 1199px) {
    .registry-items { width: 81vw; }
    .registry-item { width: calc(27vw - 2rem); }
    .registry-item-image { width: calc(27vw - 4rem); height: calc(27vw - 4rem); }
    .registry-item-modal {
      top: 0; left: 0vw; width: calc(27vw - 2rem); padding: 1rem;
      .registry-item-image { width: calc(27vw - 4rem); height: calc(27vw - 4rem); }
    }
  }

  @media (max-width: 959px) {
    .header-section { padding: 2rem 2rem 1rem 2rem; }
    .logo-image.large-logo { width: 100vw; height: 50vh; }
    .location-container { @include span-columns(12); }
    .text-section { padding: 1rem 2rem; width: 100%; font-size: 1rem; }
    .registry-sur-la-table-text { font-size: 1rem; }
    .wedding-details-section { padding: 2rem 0; }
    .location-image-container { max-height: 80vw; max-width: 80vw; }

    .registry-items { width: 80vw; }
    .registry-item { width: calc(40vw - 2rem); }
    .registry-item-image { width: calc(40vw - 4rem); height: calc(40vw - 4rem); }
    .registry-item-modal {
      top: 0; left: 0vw; width: calc(40vw - 2rem); padding: 1rem;
      .registry-item-image { width: calc(40vw - 4rem); height: calc(40vw - 4rem); }
    }
  }

  @media (max-width: 768px) {
    #desktop-nav { display: none; }
    #mobile-nav { display: block; }

    .small-column-80 { width: 80vw; }
    .small-column-27 { float: left; width: calc((1/3)*80vw); }

    .small-box-53 { float: left; width: calc((2/3)*80vw); height: calc((2/3)*80vw); }
    .small-box-40 { float: left; width: 40vw; height: 40vw; }
    .small-box-27 { float: left; width: calc((1/3)*80vw); height: calc((1/3)*80vw); }

    .registry-items { width: 80vw; }
    .registry-item { width: calc(80vw - 2rem); }
    .registry-item-image { width: calc(80vw - 4rem); height: calc(80vw - 4rem); }
    .registry-item-modal {
      top: 0; left: 0vw; width: calc(80vw - 2rem); padding: 1rem;
      .registry-item-image { width: calc(80vw - 4rem); height: calc(80vw - 4rem); }
    }
    .registry-address, .registry-address-note {
      width: 80vw;
    }
  }

}
